includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    ignoreErrors:
        - '#Trait Coolsam\\NestedComments\\Concerns\\HasComments is used zero times and is not analysed#'
        -
            message: "#Called 'env' outside of the config directory which returns null when the config is cached, use 'config'#"
            path: config/*
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    fileExtensions:
        - php
        - php.stub
    bootstrapFiles:
        - config/nested-comments.php

